



.themed{
    background:maroon !important;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5) !important;
}

.navbar-brand{
    color:#fff !important;
    font-weight:600;
    letter-spacing:2px;
    font-family:Arial !important;
}

.pulled-down{
    margin-top:80px;
}

.minified-p{width:55px;height:55px;}
.pager{font-size:12px;text-align:left !important;line-height:5px;}
.pager-cont{text-align:left !important;}
