
@import url("http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css");
body{
    background:#F5F5F5;
}


.default-theme{background:maroon;}
.shadowed{ box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5) !important;border-top:4px solid #FFC40D !important;}
.extended-brand{background:transparent;width:450px;height:83px;color:#fff !important;}
 .img-float-nav{ float:left;  }

 .extended-brand > h3{float:right;}
 .bolder{font-weight:bold;}
 .border-enabled{border:1px solid #D0D1D5;border-radius:3px;  }
 .top-border{border-top:1px solid #D0D1D5;}
 .highlighted-div{background:none repeat scroll 0% 0% #fff;width:100%;padding:15px;padding-bottom:0px;}
 .highlighted-div > p{color:#333;}
 .minified{font-size:13px;}
 .header-padded{padding:3px;padding-bottom:8px;font-size:15px;font-weight:bold;color:rgba(0, 0, 0, 0.5);text-transform:capitalize;vertical-align:top;}
  .header-padded > img{vertical-align:top;}
 
 .theme-color{color:#fff;}
 .text-theme{color:#333;}
 .golden{color:#F0AD4E;}
 .right-action-buttons > li{display:inline-block;margin-left:10px;}
 .bulletsNone li{list-style-type:none !important;}
 .green, .green a{color:green !important;}
 .red{color:red;}
 .dim{color:#7F7F7F;}
 .borderless th,.borderless td{border:none !important;}
 .clerical{font-weight:bold;padding-left:20px;padding-right:20px;}
 .forceFix{position:absolute;right:140px;}
 .toFix{position:relative;right:-20px;}


.resultContainer{

     opacity:0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;

 }

.resultContainer
 .animateOnDisplay{
      visibility:visible;
      opacity:1;
      transition-delay:0s;
 }

 #alumni_name{
     text-transform:uppercase;
     font-weight:bolder;
 }

 #frame1{
   
 }

 .padded-left{
      padding:10px;
 }
 #account_idpk{
     display:none;
 }

 #college_idfk{
     display:none;
 }

 .basic-info{
     padding:10px;
     background:;
 }
  .basic-info tbody > tr {
      border-bottom:thin solid #eee !important;
  }
   .basic-info tbody > tr:last-child{
     border-bottom:none !important;
   }

    .basic-info tbody > tr > td:last-child{
        text-align:right;
   }
  .basic-info > div{
      padding:15px;
  }

  .messaging{

      padding:3px;
  }
  #messages li{
      list-style-type:none;
  }
  .messaging > b, .sender-name > b{
      color:#222;
      font-size:14px;
      text-transform:capitalize;
  }
  .modal-body {
    max-height: calc(100vh - 310px);
    overflow-y: auto;
}

.table thead>tr>th {
vertical-align: bottom;
border-bottom: 1px solid #ddd;
}
.table thead>tr>th,.table tbody>tr>th,.table tfoot>tr>th,.table thead>tr>td,.table tbody>tr>td,.table tfoot>tr>td{
   padding:8px;
   line-height:1.428571429;
   vertical-align:top;
   border-bottom:1px solid #ddd;
   border-top:none;
}

.borderless-table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding:8px;
   line-height:1.428571429;
   vertical-align:top;
   border-bottom:0px solid #ddd;
   border-top:none;
}

#accountTable tbody > tr{border-bottom:1px solid #eee !important;}

#accountTable tbody > tr:last-child{border-bottom:0px !important;}
.searchableTable tbody > tr {background:none;border-bottom:thin solid #eee !important;}
.searchableTable tbody > tr:last-child{border-bottom:0px !important;}
.tableDetailsView tbody > tr {background:none;border-bottom:thin solid #eee !important;}
.tableDetailsView tbody > tr tr:last-child{border-bottom:0px !important;}
#messagePlaceholder tbody > tr{border-bottom:1px solid #eee !important;}
#messagePlaceholder tbody > tr:last-child{border-bottom:0px !important;}

.min {
    font-size:14px !important;
    color:#222;
    font-weight:700;

}

.pull-me-down{
    padding-top:120px;
}

.dateIndicator{
    font-size:12px !important;
    padding-left:42px;
    color:#9197A3;
    font-weight:normal;
    vertical-align:top;

}

#college_idpk{
    display:none;
}

#college_desc{display:none;}

.resWrapper{

  
    padding:0px;
    background:#fff;
    border:thin solid #ccc;
    display:none;
    border-bottom:none;
    position:relative;
    z-index:100;
    
   
}


.qDp{width:45px;height:45px;}
.moded_res{

    padding:0px;
    background:#fff;
    border:thin solid #ccc;
    display:none;
    border-bottom:none;
    position:relative;
 
}


.revealWrap{
    display:block;
  
}

.revealWrap-vis{
    visibility:visible;
}

.clickable{
    cursor:pointer;
    padding:10px;
    color:#A6635D;
    border-bottom:thin solid #ccc;
}
.clickable > last:last-child{
    border-bottom:none;
}
.uid:hover{text-decoration:none;}

.clickable:hover{
    background:maroon;
    color:#fff;
}

.clickable > span{
    font-size:12px;
    text-transform:capitalize;
   
}
.display{
    text-align:center;
    background:#f5f5f5;
    padding:5px;
    border:thin solid #ccc;
    border-top:none;
     visibility:hidden;
    position:relative;
    z-index:400000;
    width:100%;
}

.moded_dis{
    text-align:center;
    background:#f5f5f5;
    padding:5px;
    border:thin solid #ccc;
    border-top:none;
     visibility:hidden;
   
    width:100%;
}
.display > span{
    font-size:12px;
}

#noPoll{
    text-align:center;
    padding:10px;
    background:#f5f5f5;
   
}
.noPoll{
    text-align:center;
    padding:10px;
    background:#f5f5f5;
   
}

.extended{
    width:300px;
    border:thin solid;
}
.extended > li{
    width:100%;
}

#searching{
    width:300px;
}

#Image2{

    width:180px !important;
   
}

#non{
   width:75px;
    height:75px;
}

#uneditable{
    width:65px;
    height:50px;
}

.printables{
    width:960px;
    margin:0 auto;
    padding:1px;
    background:red;
}

.aligned{
    text-align:center !important;
}

#resultMailer{
    width:100%;
    
    
    display:none;
}

#Label1{
    display:none;
}

#Label2{
    display:none;
}

.mailer{
    text-transform:uppercase;
    font-weight:bold;
    color:#333;
}

#u{text-transform:capitalize}

#uid_u{display:none;}

#trigger{
    display:none;
}

#umail{display:none;}

#course_idpk{display:none}