
@import url("http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css");

.default-theme{background:maroon;}
.shadowed{ box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5) !important;border-top:4px solid #FFC40D !important;}
.extended-brand{background:transparent;width:450px;height:83px;}
 .img-float-nav{ float:left;  }

 .extended-brand > h3{float:right;}
 .bolder{font-weight:bold;}
 .border-enabled{border:1px solid #D0D1D5;border-radius:3px;  }
 .highlighted-div{background:#f5f5f5;width:100%;padding:15px;}
 .highlighted-div > p{color:#333;}
 .minified{font-size:13px;}
 .header-padded{padding:3px;padding-bottom:8px;font-size:15px;font-weight:bold;color:rgba(0, 0, 0, 0.5);}
 .theme-color{color:#fff;}
 .text-theme{color:#333;}
 .golden{color:#F0AD4E;}
 .right-action-buttons > li{display:inline-block;margin-left:10px;}
 .bulletsNone li{list-style-type:none !important;}
 .green, .green a{color:green !important;}
 .red{color:red;}
.resultContainer{

     opacity:0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
 }
 .animateOnDisplay{
      visibility:visible;
      opacity:1;
      transition-delay:0s;
 }

 #alumni_name{
     text-transform:uppercase;
     font-weight:bolder;
 }

 #frame1{
   
 }

 .padded-left{
      padding:10px;
 }
 #account_idpk{
     display:none;
 }

 #college_idfk{
     display:none;
 }

 .basic-info{
     padding:10px;
     background:;
 }

  .basic-info > div{
      padding:15px;
  }

  .messaging{

      padding:3px;
  }
  #messages li{
      list-style-type:none;
  }
  .messaging > b, .sender-name > b{
      color:maroon;
      font-size:14px;
      text-transform:capitalize;
  }
  .modal-body {
    max-height: calc(100vh - 310px);
    overflow-y: auto;
}

.table thead>tr>th {
vertical-align: bottom;
border-bottom: 1px solid #ddd;
}
.table thead>tr>th,.table tbody>tr>th,.table tfoot>tr>th,.table thead>tr>td,.table tbody>tr>td,.table tfoot>tr>td{
   padding:8px;
   line-height:1.428571429;
   vertical-align:top;
   border-bottom:1px solid #ddd;
   border-top:none;
}

.min {
    font-size:14px !important;
    color:#222;
    font-weight:700;

}

.pull-me-down{
    padding-top:120px;
}

.dateIndicator{
    font-size:12px !important;
    padding-left:30px;
    

}

#college_idpk{
    display:none;
}

#college_desc{display:none;}

.resWrapper{
    padding:0px;
    background:#fff;
    border:thin solid #ccc;
    display:none;
   border-bottom:none;
   position:relative;
   z-index:400000;
}

.revealWrap{
    display:block;
   
}

.revealWrap-vis{
    visibility:visible;
}

.clickable{
    cursor:pointer;
    padding:10px;
    color:#A6635D;
    border-bottom:thin solid #ccc;
}
.clickable > last:last-child{
    border-bottom:none;
}
.uid:hover{text-decoration:none;}
.clickable:hover{
    background:maroon;
    color:#fff;
}

.clickable > span{
    font-size:15px;
   
}
.display{
    text-align:center;
    background:#f5f5f5;
    padding:5px;
    border:thin solid #ccc;
    border-top:none;
     visibility:hidden;
    position:relative;
    z-index:400000;
    width:100%;
}
.display > span{
    font-size:12px;
}

#noPoll{
    text-align:center;
    padding:10px;
    background:#f5f5f5;
   
}

.extended{
    width:300px;
    border:thin solid;
}
.extended > li{
    width:100%;
}

#searching{
    width:300px;
}